<li class="event-list__item">

    <img class="event-image"
        srcset="
            {{}} 1x,
            {{}} 2x,
        " 
        src="{{url}}" 
        alt="{{Id}}" 
        width="180" 
        height="227"
    >

    <h2 class="event-name">{{name}}</h2>
    <p class="event-date">{{dates.start}}</p>
    <p><span></span>{{location}}</p>
</li>