{{#each this}}
    <li class="events-list__item" id="{{id}}">
        <img class="event-image"         
        {{#each images}}
        src="{{url}}" 
        {{/each}} 
        alt="тест-картинка" 
        width="180" 
        height="227" />
        <span class="event-image-span"></span>
        <h2 class="event-name">{{name}}</h2>
        <p class="event-date">{{dates.start.localDate}}</p>
        <p>{{location}}</p>
    </li>
{{/each}}
