{{#each this}}
<li class="event-list__item">

    <img class="event-image"
        {{!-- srcset="
            {{}} 1x,
            {{}} 2x,
        "  --}}
        {{#each images}}
        src="{{url}}" 
        {{/each}}
        alt="{{Id}}" 
        width="180" 
        height="227"
    >
    <span class="event-image-span"></span>
    <h2 class="event-name">{{name}}</h2>
    <p class="event-date">{{dates.start.localDate}}</p>
    <p class="event-location">{{_embedded.venues.name}}</p>
</li>
{{/each}}