<div class="modal-box">
    <button data-modal-window-close  class="modal__btn">
        <span class="modal__btn_close"></span>
    </button>
    <div class="modal__window">
        <div class="modal__circle">
            <img class="modal__circle-img" src="" alt="" />
        </div>
        <div class="modal__container">
            <div class="modal__img">
                <img class="modal-img-test" src=""         
                alt="тест-картинка" 
                width="180" 
                height="227"/>
            </div>
            <div class="modal__info">
                <ul class="modal__list">
                    <li class="modal__item">
                        <b class="modal__title">INFO</b>
                        <p class="modal__text">
                            {{#if info}}
                            {{info}}
                            {{else}}Oops! No info here :(
                            {{/if}}
                        </p>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHEN </b>
                        <ul class="modal__text">
                            <li>
                                {{#if dates.start.localDate}}
                                {{dates.start.localDate}}
                                {{else}}Oops! No date here :(
                                {{/if}}
                                </li>
                            <li>
                                {{#if dates.start.localTime}}
                                {{dates.start.localTime}} ({{dates.timezone}})
                                {{else}}Oops! No time here :(
                                {{/if}}
                            </li>
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHERE </b>
                        <ul class="modal__text">
                            {{#if _embedded.venues}}
                                {{#each _embedded.venues}}
                                
                            <li> {{city.name}}, {{country.name}} </li>
                            <li> {{name}}</li>
                                {{/each}}
                                {{else}}Oops! No location here :(
                                {{/if}}
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHO</b>
                        <ul class="modal__text">
                            <li>
                                {{#if name}}
                                {{name}}
                                {{else}}Oops! No info here :(
                                {{/if}}
                                </li>
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">PRICES</b>
                        <ul>
                            {{#if priceRanges}}
                            {{#each priceRanges}}
                            <li class="modal__text">
                                <span class="modal__barcode"> {{type}} {{min}} - {{max}} {{currency}}</span>
                            </li>
                            <li class="modal_buy" >
                                <button class="btn" ><a class="modal_buy--btn-link" href="{{../url}}" target="blanck">BUY TICKETS</a></button>
                            </li>
                            {{/each}}
                            {{else}}Oops! No tickets available yet :(
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal__buttons">
            <button class="modal__btn__more" type="submit" data-name="{{name}}">MORE FROM THIS AUTHOR</button>
            <button class="modal__btn__more favorite-button">Add to favorite</button>
        </div>
    </div>
</div>
